
<!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách thực đơn</h6>
        <div class="d-flex mt-3">
            <button nz-button nzType="primary"  (click)="addOrUpdateThucDon()">Thêm thực đơn</button>
        </div>    
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <nz-table #basicTable [nzData]="DanhSachThucDon"  nzBordered="true" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Tên thực đơn</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let thucdon of basicTable.data">
                    <td>{{thucdon.Id}}</td>
                    <td>{{thucdon.TenThucDon}}</td>
                    <td>
                        <button nz-button nzType="primary" class="mr-3" (click)="addOrUpdateThucDon(thucdon)">Sửa</button>
                        <button nz-button  nzType="primary" nzDanger (click)="deleteThucDon(thucdon.Id)">Xóa</button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </div>
</div>

<!-- 
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
 <app-create-or-update-thucdon *ngIf="viewShow === 'viewCreateOrUpdate'" [thucDon]="dataItem" (backListEvent)="onBackToList($event)"></app-create-or-update-thucdon>     
</nz-modal> -->



